# Default ignored files
/../../../:HugeCloudV1/.idea/shelf/
/../../../:HugeCloudV1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:HugeCloudV1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:HugeCloudV1/.idea/dataSources/
/../../../:HugeCloudV1/.idea/dataSources.local.xml
